<div class="container mt-5">
  <h2 class="text-center mb-4">Menú Digital - Mesa {{ mesaId }}</h2>

  <div class="row">
    <div *ngFor="let plato of platos" class="col-md-4 mb-4">
      <div class="card shadow-lg">
        <!-- Imagen del Plato -->
        <img
          *ngIf="plato.imagen"
          [src]="plato.imagen"
          class="card-img-top"
          alt="{{ plato.nombre }}"
        />
        <div class="card-body text-center">
          <h5 class="card-title">{{ plato.nombre }}</h5>

          <!-- Precios -->
          <ul class="list-group list-group-flush">
            <li *ngIf="plato.precio_personal" class="list-group-item">
              <strong>Personal:</strong> S/ {{ plato.precio_personal }}
            </li>
            <li *ngIf="plato.precio_mediana" class="list-group-item">
              <strong>Mediana:</strong> S/ {{ plato.precio_mediana }}
            </li>
            <li *ngIf="plato.precio_grande" class="list-group-item">
              <strong>Grande:</strong> S/ {{ plato.precio_grande }}
            </li>
          </ul>

          <!-- Botón Agregar -->
          <button
            class="btn btn-success mt-3 w-100"
            (click)="agregarAlCarrito(plato)"
          >
            Agregar al Carrito
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
